.content{
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black ;
    // padding: 20px 40px;
    background-color: white;
    margin: 0px auto;
    height: 200vh;

    .figure{
        float: right;
        margin: 10px;
        border-radius: 150px 15px 15px 15px;

    }
    
    
    }
   
