.container-fluid{
     display: fixed;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black ;
    // padding: 20px 40px;
    background-color: white;
    text-align: center;
    margin: 20px auto;
    // height: 1000px;
    .figure{
        width: 490px;
        height: 395px;
        float: right;
       
    }
}